.footer {
    background: #222427;
}
.footer-container__content-section-one {
    display: flex;
}
.footer-container__content-section-two {
    display: flex;
}
.socials-item {
    border: 2px solid rgba(255, 255, 255 .5);
    border-radius: 50%;
    filter: invert(100%);
    opacity: 0.5;
    margin-right: 40px;
    & :last-child {
        margin-right: 0;
    }
}