.last-section-img {
    background: url(../images/content/back-last-sections.png) center center / cover no-repeat;
}
.reviews {
    min-height: 500px;
    padding-top: 150px;
    padding-left: 160px;
}
.reviews__title {
    display: flex;
    margin-bottom: 105px;
}
.title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 120px;
}
.navigation {
    display: flex;
}