.hero__bottom-btn {
    display: block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    left: 50%;
    transform: translateX(-50%);
}
.scroll-down-btn {
    text-decoration: none;
    margin: 0;
}
.scroll-down-icon {
    display: block;
    width: 20px;
    height: 30px;
}
.scroll__img {
    height: 100%;
    width: 100%;
    filter: invert(100%);
}