.socials {
    display: flex;
}
.socials__icon {
width: 100%;
height: 100%;
}

.socials__link {
    width: 25px;
    height: 27px;
    display: block;
}
.socials__item {
    filter: invert(100%);
    opacity: 0.5;
    margin-right: 40px;
    & :last-child {
        margin-right: 0;
    }
}